<div id="toolbar" class="relative w-full grid grid-cols-3 md:grid-cols-3  mb-4 p-4 items-center">
    <h1 class="col-span-2 md:col-span-1 font-black text-2xl">Sandwich exquis</h1>
    <div class="absolute {#-mt-96#} -top-0 w-screen hidden  md:flex bg-slate-50 md:relative md:bg-transparent  md:w-auto md:h-auto">
        {{ knp_menu_render('main', {'template': 'web/main_menu.html.twig' }) }}
    </div>
    <span class="md:hidden text-center">Menu</span>
</div>