{% extends 'web/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sed?</p>
</div>
{% endblock %}
